
<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Portfolio site of Shannon Crabill, a Maryland based software engineer, email developer and cheese burger enthusiast.">
    <title>Jigar Prajapati - Software Engineer </title>
    <!-- open graph -->
    <meta property="og:title" content="Jigar Prajapati's Personal Website: jigarprajapati.com" />
    <meta property="og:description" content="Hi, I am Jigar. I build things that help users have a better experience on web.">
    <meta property="og:type" content="website" />
    <!--favicon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
     
    <style>
        .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
    </style> 
  </head>
  <body>
    <div id="myApp">
        <section class="container hero">
            <div class="hero-body">
                <h1 class="title is-1">
                    Hey! I&rsquo;m Jigar.
                  </h1>
              
                  <h2 class="subtitle is-2">
                    I build things that help users have a better experience on web.
                  </h2>
            </div>
        </section>
        
        <section class="container hero">
            <div class="hero-body">
              <p class="">Developing software for the world of intent is something I'm passionate about and I'm dedicated to making the world of intent easy and affordable for everyone.I love working on a variety of technologies including Web Development, Mobile App Development and Deep Learning. My goal is to build highly performant applications that solve real-world problems and provide users with an awesome experience.    </p>
            </div>
        </section>
        <section class="hero is-link">
            <div class="container">
                <div class="hero-body">
                  <p class="title">
                    Tools and technologies
                  </p>
                  <p class="subtitle">
                    Using a combination of technologies and reliable open-source software I build user-focused, performant apps and websites.
                  </p>
                </div>
            </div>   
        </section>
        <section class="container">
            <div class="hero-body">
                <div class="columns" v-for="(techSection,k) of technologies" :key="k">
                    <div class="column" v-for="tech of techSection" :key="tech.title">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                      <figure class="image is-48x48">
                                        <img :src="tech.url" :title="tech.title">
                                      </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content" style="margin-top:10px">
                                            <strong >{{tech.title}}</strong>
                                        </div>
                                    
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>
        </section>
        <section class="hero is-link">
            <div class="container">
                <div class="hero-body">
                  <p class="title">
                    Projects
                  </p>
                  <p class="subtitle">
                    During my professional career journey, I have worked on Web application, Frontend & Backend Development and API Development .        
                  </p>
                </div>
            </div>   
        </section>
        <section class="hero container">
            <div class="hero-body">
                <div class="columns" v-for="(projects,k) of project_data" :key="k">
                    <div class="column" v-for="project of projects" :key="project.title">
                      <div class="card">
                        <div class="card-content">
                          <div class="content">
                            <h3 class="title is-3">
                                <a v-if="project.url" :href="project.url" target="_blank">{{project.title}}</a>
                                <a v-else href="#">{{project.title}}</a>
                        </h3>
                            <p>{{project.description}}</p>
                           <em v-html="project.technologies"></em>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </section>    
        <section class="columns hero-body">
          <section class="column section">
    
              <footer class="footer">
              <div class="content has-text-centered">
                <p>
                  Jigar Prajapati &copy; 2016&ndash;{{year}}
                </p>
                <p>
                  <a href="#top">Back to Top <i class="fas fa-arrow-up"></i></a>
                </p>
              </div>
            </footer>
            <div>
          </section>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
      <script src="script.js"></script>
  </body>
</html>
